# Backend
backend/__pycache__/
backend/.env
backend/instance/
backend/static/
backend/uploads/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.production.local
frontend/.env.development.local
frontend/.env.test.local

# OS-specific files
.DS_Store
Thumbs.db

# Python environment
venv/
*.py[cod]
*.so
*.egg-info/
dist/
build/